@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/ProximaNova-Regular.otf);
  font-weight: 400;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;
  height: 100vh;
  background-color: $color-dark-purple;
  font-family: $main-font-stack;
}