//colors
$color-blue: #47A1F4;
$color-gray-blue: #506881;
$color-purple: #4D38A2;
$color-dark-purple: #110E18;
$color-white: #fff;
$color-dark-blue: #131C2C;
//font
$main-font-stack: 'Proxima Nova', sans-serif;